
.navEle{
    top: -20px;
   
}
.addattendeneEle{
left: 10px;
top: -8px;
}
.attendenceidformcontainer{
position: absolute;
top: 200px;
left: 600px;
}
.backgroundcolor{
    z-index: -1;
    position: relative;
    background-color:white;
    opacity: 0.2;
}
.cancelEle{
    margin-left: 23px;
    top: 17px;
    position: relative;
}
.saveEle{
    position: relative;
    top: 18px;
}

@media (max-width:666px) and (min-width:320px){
.attendenceidformcontainer{
    left:20px;
}

.navEle{
    width: 330px;
}

}
@media (max-width:768px) and (min-width:666px){
    .attendenceidformcontainer{
        left:270px;
    }
}