.serachEle {
  position: relative;
  left: -80px;
}
.navgationBarText {
  top: 111px;
  position: fixed;
  width:100%;
}
.errmessageEle {
  color: red;
}
.serachEle {
  float: right;
  top: 20px;
  margin-right: 20px;
}
:host ::ng-deep .p-button.addbtnText {
  float: right;
  top: 19px;
  margin-right: 44px;
  font-size: 17px;
}
:host ::ng-deep .p-paginator {
  max-width: max-content;
  float: right;
  border: 1px solid gray;
  margin: 10px;
  transition: background-color 0.3s;
}
:host ::ng-deep .p-dropdown {
  float: right;
  margin-right: 60px;
  top: 19px;
}
.attendenceidformcontainer {
  position: absolute;
  top: 200px;
  left: 600px;
}
.cancelEle {
  margin-left: 23px;
  top: 17px;
  position: relative;
}
.saveEle {
  position: relative;
  top: 18px;
}
.attendencetableContainer {
  top: 187px;
  position: fixed;
  background-color: white;
  margin-left: 60px;
}
.attendListHeadingText {
  position: relative;
  margin-left: 84px;
  top: 4px;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td, tr > th{
  border-width:0px; 
}
:host ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
  max-height: 350px;
}
@media (max-width: 666px) and (min-width: 320px) {
  .attendenceidformcontainer {
    left: 20px;
  }
  .navgationBarText {
    top: 178px;
  }
  .addattendeneEle {
    margin-left: 196px;
  }
  .attendencetableContainer {
    margin-left: 15px;
    top: 257px;
  }
  .serachEle {
    left: 35px;
    top: 4px;
  }
  :host ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
    max-height: 195px;
  }
  :host ::ng-deep .p-dropdown {
    margin-right: 10px;
    top: 2px;
  }
}
:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-badge,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-badge {
  display: none;
}
@media (max-width: 768px) and (min-width: 666px) {
  .attendenceidformcontainer {
    left: 270px;
  }
  .addattendeneEle {
    margin-left: 589px;
  }
  .attendencetableContainer {
    margin-left: 30px;
  }
  :host ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
    max-height: 250px;
  }
  .serachEle {
    top: 19px;
    margin-right: -48px;
  }
}
