<div [ngClass]="{backgroundcolor:attendenceempidhidden}">
    <app-header></app-header>
  <div class="navEle">
    <h2> <span> <i class="material-icons">people</i> </span> Attendence List </h2>
  </div>

  <div class="attendencetablecontainerEle">
    <div class="attendenceaddbtnContainer">
        <button pButton type="button" label="ADD" class="attendenceAddbtnEle" (click)="addAttendece()" *ngIf="addbtndisable"> 
            <span><i class="pi pi-plus"></i></span> 
        </button>
        <span class="p-input-icon-left serachEle">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="serchempidvalue"  (click)="searching()"/>
        </span>
        <!-- <button pButton type="submit" label="click" (click)="searching()" class="serachEle"></button> -->
    </div>
    
    <hr>
    <div >
    <p-table [value]="gettingattendencedata">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="employeeId" >EmployeeId<p-sortIcon field="employeeId"></p-sortIcon></th>
                    <th pSortableColumn="month">Month<p-sortIcon field="month"></p-sortIcon></th>
                    <th pSortableColumn="date" >Date <p-sortIcon field="date"></p-sortIcon></th>  
                    <th pSortableColumn="departmentId" >DepartmentId <p-sortIcon field="departmentId"></p-sortIcon></th>
                     <th pSortableColumn="available" >Available<p-sortIcon field="available"></p-sortIcon></th>
                    <th pSortableColumn="checkIn">CheckIn<p-sortIcon field="checkIn"></p-sortIcon></th>
                    <th pSortableColumn="checkout" >Checkout <p-sortIcon field="checkout"></p-sortIcon></th> 
                     <th pSortableColumn="attendanceCount">AttendanceCount <p-sortIcon field="attendanceCount"></p-sortIcon></th>
                    <th pSortableColumn="shift" >Shift<p-sortIcon field="shift"></p-sortIcon></th> 
                    <th pSortableColumn="createdSource" >createdSource<p-sortIcon field=">createdSource"></p-sortIcon></th>
                    <th pSortableColumn="createdSourceType">createdSourceType<p-sortIcon field="createdSourceType"></p-sortIcon></th>
                    <th pSortableColumn="createdDttm" >createdDttm<p-sortIcon field="createdDttm"></p-sortIcon></th>  
                    <th pSortableColumn="modifiedSource" >modifiedSource<p-sortIcon field="modifiedSource"></p-sortIcon></th>
                    <th pSortableColumn="modifiedSourceType" >modifiedSourceType<p-sortIcon field="modifiedSourceType"></p-sortIcon></th>
                     <th pSortableColumn="modifiedDttm" >modifiedDttm<p-sortIcon field="modifiedDttm"></p-sortIcon></th>
                <th>Actions</th>
                    </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData  >
                <tr (dblclick)="doubleClick(rowData)" >
                    <td>{{rowData.employeeId}}</td>
                    <td>{{rowData.month}}</td>
                    <td>{{rowData.date}}</td>
                    <td>{{rowData.departmentId}}</td>
                    <td>{{rowData.available}}</td>
                    <td>{{rowData.checkIn}}</td>
                    <td>{{rowData.checkout}}</td>
                    <td>{{rowData.attendanceCount}}</td>
                    <td>{{rowData.shift}}</td>
                    <td>{{rowData.createdSource}}</td>
                    <td>{{rowData.createdSourceType}}</td>
                    <td>{{rowData.createdDttm}}</td>
                    <td>{{rowData.modifiedSource}}</td>
                    <td>{{rowData.modifiedSourceType}}</td>
                    <td>{{rowData.modifiedDttm}}</td>
                    <td><p-button  icon="pi pi-times" label="Delete" class="p-button-danger"
                         (click)="deletebasedonempiddeptid(rowData.employeeId ,rowData.departmentId)" *ngIf="deleteviewmode"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div> 
</div>
<div class="empidanddeptid" *ngIf="attendenceempidhidden">
    <form  #deptidEmpidForm="ngForm" (ngSubmit)="empiddeptidcheck()">
     <div>
         <div><label>EmployeeId:</label></div>
         <input type="text" pInputText [(ngModel)]="employeeId" name="employeeid" />
         </div>
     
        <div class="deptidEle">
         <div><label>DepartmentId:</label></div>
         <input type="text" pInputText [(ngModel)]="departmentid" name="departmentid" />
        </div>
     
         <div>
            <button pButton type="submit" label="save"></button>
         <p-button label="cancel" styleClass="p-button-secondary " class="cancelEle" (click)="cancelempiddeptid()"></p-button>
         </div>
    </form>
 </div>


<app-footer></app-footer>