<div class=" bg-cyan-300 h-6rem navBarText">
  <h2 class="attendenceListText"> <span> <i class="material-icons peopleTextIcon">people</i> </span> Attendence List </h2>
</div>
<p-toast></p-toast>
<div class="attendenceFormContainer bg-white w-11 border-noround  border-100 border-solid ">
  <form #AttendenceForm="ngForm" (ngSubmit)="submitUpdateAttendeceData()" ngNativeValidate>
    <div class="grid attendenceFormTableContainer">
      <div class="col md:col-4">
        <div class="mb-3"><label>Employee Id *</label></div>
        <input type="text" pInputText name="employeeId" [(ngModel)]="attendenceDetailObj.employeeId" [disabled]="true"
          required />
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label>Date *</label></div>
        <p-calendar [(ngModel)]="dateValue" #date1="ngModel" name="date" view="date" [maxDate]="maxDate" appendTo="body"
          [required]="true" [disabled]="editMode">
        </p-calendar>
        <div class="errmessageText" *ngIf="date1.touched && date1.invalid"> enter the valid date</div>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"><label>DepartmentId *</label></div>
        <input type="text" pInputText name="departmentId" [(ngModel)]="attendenceDetailObj.departmentId"
          [disabled]="true" required />
      </div>
      <div class="col md:col-4">
        <div class="mb-3"><label> Avaliable *</label></div>
        <div class="formgroup-inline">
          <div class="field-radiobutton">
            <p-radioButton name="available" [value]="true" [(ngModel)]="attendenceDetailObj.available"
              [disabled]="editMode"></p-radioButton>
            <label>True</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton name="available" [value]="false" [(ngModel)]="attendenceDetailObj.available"
              [disabled]="editMode"></p-radioButton>
            <label>False</label>
          </div>
        </div>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"><label>Check In</label></div>
        <p-calendar [(ngModel)]="attendenceDetailObj.checkIn" [showSeconds]="true" name="checkIn" [showTime]="true"
          [timeOnly]="true" hourFormat="12" [disabled]="editMode" [maxDate]="maxTime"> </p-calendar>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label> Checkout</label></div>
        <p-calendar [(ngModel)]="attendenceDetailObj.checkout" [showSeconds]="true" [showTime]="true" [timeOnly]="true"
          hourFormat="12" [maxDate]="maxTime" name="checkout" [disabled]="editMode"> </p-calendar>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label>AttendanceCount *</label></div>
        <input type="text" pInputText [(ngModel)]="attendenceDetailObj.attendanceCount" pattern="^[+]?[0-9]+([0-9])*$"
          #count="ngModel" name="attendanceCount" [disabled]="editMode" />
        <div class="errmessageText" *ngIf="count.touched && count.invalid"> enter the valid number</div>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label> Shift</label></div>
        <p-dropdown [options]="shift" name="shift" class="inputlenEle" [(ngModel)]=" shiftValue" #shift1="ngModel"
          [disabled]="editMode" optionLabel="name"></p-dropdown>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label> CreatedSource</label></div>
        <input type="text" pInputText [(ngModel)]="attendenceDetailObj.createdSource" name="createdSource" disabled />
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label> CreatedSourceType</label></div>
        <input type="text" pInputText [(ngModel)]="attendenceDetailObj.createdSourceType" name="createdSourceType"
          disabled />
      </div>
      <div class="col md:col-4">
        <div class="mb-3"><label> CreatedDttm</label></div>
        <p-calendar [(ngModel)]="createdDttmValue" name="createdDttm" [showTime]="true" [showSeconds]="true"
          hourFormat="12" [disabled]="true"> </p-calendar>
      </div>
      <div class="col md:col-4">
        <div class="mb-3"><label> ModifiedSource</label></div>
        <input type="text" pInputText [(ngModel)]="attendenceDetailObj.modifiedSource" name="modifiedSource" disabled />
      </div>
      <div class="col md:col-4">
        <div class="mb-3"> <label> ModifiedSourceType</label></div>
        <input type="text" pInputText [(ngModel)]="attendenceDetailObj.modifiedSourceType" name="modifiedSourceType"
          disabled />
      </div>
      <div class="col md:col-8">
        <div class="mb-3"> <label>ModifiedDttm</label></div>
        <p-calendar [(ngModel)]="attendenceDetailObj.modifiedDttm" name="modifiedDttm" [showTime]="true"
          [showSeconds]="true" hourFormat="12" [disabled]="true"> </p-calendar>
      </div>
    </div>
    <div class="col buttonText">
      <div *ngIf="disableSaveCancelButton">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="button" label="Cancel" class="saveEditButtonText" (click)="editModeViewData()"></button>
      </div>
      <div *ngIf="disableEditBackButton">
        <button pButton type="button" label="Edit" class="saveEditButtonText" (click)="editAttendenceData()"
          *ngIf="editButtonDisable"></button>
        <button pButton type="button" label="Back" class="p-button-secondary"
          (click)="navigateAttendeceListScreen()"></button>
      </div>
    </div>
  </form>
</div>