
.savebtnEle{
  margin-left: 20px;
  margin-right: 20px;
}
.attendenceform{
  margin-left: 30px;
  margin-right: 0px;
}
@media (max-width:768px) and (min-width:666px){
.attendenceform{
margin-left: 43px;
margin-right: -208px;
}

.navEle{
  top:2px;
  width: 1010px;
}

}
@media (max-width:666px) and (min-width:320px){
  ::ng-deep .p-calendar input{
    height: 30px !important;
    width: 200px !important;
  }
  .navEle{
  position: relative;
    top: 8px;
}
.basicheadingEle{
position: relative;
    top: -29px;
}
.attendenceform{
  position: relative;
  top: -42px;
  }
 
}