
    
   
     <div class="grid bg-cyan-100 h-6rem navEle">
      <h2> <span> <i class="material-icons">people</i> </span> Attendence List </h2>
    </div>

    <h4 class="basicheadingEle">Basic Attendence Details:</h4>
    <form  #AttendenceForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="grid attendenceform">
        <div class="col md:col-3">
          <div><label>* Employee Id </label></div>
          <input type="text" pInputText name="employeeId" [(ngModel)]="attendetailObj.employeeId" [disabled]="true" required />
         </div>
         <div class="col md:col-3">
          <div> <label>Month</label></div>
          <p-calendar [(ngModel)]="attendetailObj.month" name="month"  view="month" dateFormat="mm"  [required]="true" [disabled]="editmode"> </p-calendar>
         </div>
         <div class="col md:col-6">
          <div> <label>Date</label></div>
          <p-calendar [(ngModel)]="attendetailObj.date" name="date" view="date" dateFormat="d" [required]="true" [disabled]="editmode"> </p-calendar>
         </div>
         <div class="col md:col-3">
          <div><label> DepartmentId </label></div>
                             <input type="text" pInputText name="departmentId" [(ngModel)]="attendetailObj.departmentId" [disabled]="editmode" readonly/>
         </div>

                            <div class="col md:col-3">
                              <div><label> Avaliable</label></div>
                              <div class="formgroup-inline">
                                <div class="field-radiobutton">
                                  <p-radioButton name="available"  [value]="true"  [(ngModel)]="attendetailObj.available" [disabled]="editmode"></p-radioButton>
                      <label>true</label>
                                </div>
                                <div class="field-radiobutton">
                                  <p-radioButton name="available" [value]="false" [(ngModel)]="attendetailObj.available" [disabled]="editmode"></p-radioButton>
                                  <label>false</label>
                                </div>
                                </div>
                            </div>  
                            
                            <div class="col md:col-6">
                              <div><label>Check In</label></div>
                                 <input type="text" pInputText  [(ngModel)]="attendetailObj.checkIn" name="checkIn" [disabled]="editmode"/>
                            </div>
                            <div class="col md:col-3">
                              <div> <label> Checkout:</label></div>
                 <input type="text" pInputText [(ngModel)]="attendetailObj.checkout" name="checkout" [disabled]="editmode" />
                   </div>
                   <div class="col md:col-3">
                    <div> <label>AttendanceCount</label></div>
                    <input type="text" pInputText [(ngModel)]="attendetailObj.attendanceCount" name="attendanceCount" [disabled]="editmode"/>
                      </div>
                      <div class="col md:col-6">
                        <div> <label> Shift:</label></div>
                        <input type="text" pInputText  [(ngModel)]="attendetailObj.shift" name="shift" [disabled]="editmode"/>
                          </div>
                          <div class="col md:col-3">
                            <div>  <label> CreatedSource:</label></div>
                            <input type="text" pInputText  [(ngModel)]="attendetailObj.createdSource" readonly name="createdSource" [disabled]="editmode"/>
                              </div>
                              <div class="col md:col-3">
                                <div> <label> CreatedSourceType:</label></div>
                 <input type="text" pInputText [(ngModel)]="attendetailObj.createdSourceType" readonly name="createdSourceType" [disabled]="editmode"/>
                   </div>
                   <div class="col md:col-6">
                    <div><label>  CreatedDttm:</label></div>
                    <p-calendar  [(ngModel)]="attendetailObj.createdDttm" name="createdDttm" dateFormat="dd/mm/yy"  [disabled]="true"> </p-calendar>
                   </div>
                   <div class="col md:col-3">
                    <div><label>  ModifiedSource:</label></div>
                 <input type="text" pInputText [(ngModel)]="attendetailObj.modifiedSource" readonly name="modifiedSource" [disabled]="editmode"/>
                   </div>
                   <div class="col md:col-3">
                    <div> <label> ModifiedSourceType:</label></div>
                 <input type="text" pInputText [(ngModel)]="attendetailObj.modifiedSourceType" readonly name="modifiedSourceType"[disabled]="editmode" />
                   </div>
                   <div class="col md:col-6">
                    <div> <label>ModifiedDttm:</label></div>
                    <p-calendar  [(ngModel)]="attendetailObj.modifiedDttm" name="modifiedDttm" dateFormat="dd/mm/yy"  [disabled]="true"> </p-calendar>
                   </div>
                   <div class="col md:col-3 buttonEle">
                    <div *ngIf="disablesavecancelbtn">
                      <button pButton type="submit" label="Save" ></button>
                    <button pButton type="button" label="Cancel" class="savebtnEle"  (click)="cancelbtn()" ></button>
                    </div>
                    <div *ngIf="disableeditbackbtn">
                      <button pButton type="button" label="Edit" class="savebtnEle" (click)="editattende()" *ngIf="editbtndisable" ></button>
                    <button pButton type="button" label="Back"  class="p-button-secondary"(click)="backtoatend()" ></button>    
                    </div>                
                 </div>               
    </div>
    </form>
