.itorizonimg{
   margin-top: 10px;
   width:250px;
}
.loginpageContainer{
   margin: auto;
   position: relative;
   top: 80px;
   width: 392px;
   height: 493px;
}
.welcomeEle{
position: relative;
top:-20px;
}
.paragraphEle{
   position: relative;
   top:-45px;
}
.usernameEle{
   position: relative;
   top: -60px;
}
.passwordEle{
   position: relative;
   top: -60px;
}
.eyeicon{
   margin-left: -30px
}
.submitButtonEle{
   position: relative;
   top: -60px; 
}
.resetButtonEle{
   position: relative;
   top: -60px;  
}
.widthOfInputfield{
   width: 293px;
}

.loginbgColor{
   width: 720px;
   height: 1500px;
}