<div class="loginPageBackgroundColor">
  <div class="bg-white   grid loginPageContainer">
    <form #mylogin="ngForm" (ngSubmit)="loginUserAccount()">
      <div class="grid">
        <div class="col  col-offset-2"> <img src="./assets/itorizonlogo.png" alt="Image" class="itorizonImage">
        </div>
        <div class="col col-offset-1">
          <h3 class="welcomeText">Welcome</h3>
          <p class="paragraphText">Please use Registerd Username and Password to Login your account </p>
        </div>
        <div class="col col-offset-1">
          <div class="mb-2"> <label>UserName *</label></div>
          <input type="text" pInputText name="UserName" [(ngModel)]="userName" class="widthOfInputfield" />
        </div>
        <div class="col col-offset-1 ">
          <div class="mb-2 "> <label>Password *</label> </div>
          <input [type]="changetype?'password':'text'" pInputText [(ngModel)]="password" name="password" ngModel
            class="widthOfInputfield">
          <span class="eyeIcon" (click)="viewPress()"> <i [ngClass]=" visable ? ' fa fa-eye':'fa fa-eye-slash'"></i>
          </span>
        </div>
        <div class=" col col-offset-1 "> <button pButton type="submit" label="Login" class="widthOfInputfield"></button>
        </div>
      </div>
    </form>
    <div class="col resetButtonText"> <button pButton type=" button" label="Reset" (click)=" resetInputFields()"
        class="widthOfInputfield"></button></div>
    <p-toast styleClass="toastField"></p-toast>
  </div>
</div>
