
<p-messages [(value)]="passwordmessage"  ></p-messages>
<p-messages [(value)]="errormessage"  ></p-messages>

 
   <div class="logincontainer">
    <form #mylogin="ngForm" (ngSubmit)="login(mylogin)" >
    <div class="image">
        <p-image src="./assets/itorizonlogo.png" alt="Image" width="250"></p-image>
        <h3>Welcome</h3>
    </div>
    
   <div>
    <p>please use Registerd userName and Password to Login your account </p>
   </div>
   
    <div>
        <label >User Name*</label>
    </div>
   <div>
    <input type="text"  class="inputEle inputlength"  pInputText   name="UserName" ngModel />
   </div>

   

    <div>
        <label >Password*</label>
    </div>
    <div >
             <p-password
            [toggleMask]="true"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            [inputStyle]="{'width':'342px'}"
            [feedback]="false" indicator="false"
            name="password" ngModel
            >
            </p-password>
    
    </div>
    
   
    <div>
        <a href="" class="forgotpasswordcontent">Forget Password?</a>
    </div>
    
   <div>
    <button  pButton type="submit" label="Login" class="inputlength"></button>
   
   </div>

    <div>
        <span>don't have an account?<a href="" class="signupcontent">Sign up</a></span>
    </div>
    
</form>
<div>
    <button pButton  type=" button" label="reset" (click)="reset()"></button>
</div>
   </div>
   