<div>
    
      <label for="#">enter a name:</label>
      <input type="text" required [(ngModel)]="fristname"><br>
      
      <label for="#">enter a surname</label>
     
      <select required> 
        <option value="Html">Htm</option>
        <option value="CSS">CSS</option>
        <option value="Js">Js</option>
        <option value="TS">TS</option>
        <option value="Angular">Angular</option>
      </select><br>
      <button (click)="submitted()" >submit</button>
      
   
    
  </div>
  <div>
    
  </div>


 