
<div>
    <div>id:{{courses.id}}</div>
    <div  *ngIf="!editable">name:{{courses.name}} </div>
    <input type="text" [(ngModel)]="courses.name" *ngIf="editable">
    <div>university:{{courses.university}}</div>
    <div>price:{{courses.price}}</div>
</div>

<a [routerLink]="['/coures/course',101]">go back courses frist list</a>

<!-- <button  [routerLink]="['/coures/course',courses.id]" [queryParams]="{edit:true}"> edit</button> -->

<button (click)="editname()">Edit</button>

<button (click)="editable=false"  [routerLink]="['/coures/course',courses.id]" >update</button>

