<div class="registerPageBackGroundColor">
  <form #registerForm="ngForm" (ngSubmit)="registerFormSubmitDetails()" ngNativeValidate>
    <div class="registerPageFormConatiner grid">
      <h2 class="col col-offset-4">Registration form</h2>
      <div class="col-12 col-offset-1"> 
        <div  class="mb-2"><label>First Name *</label></div>
        <input type="text" name="firstName" pInputText [(ngModel)]="firstNameValue" class="w-10" required/>
      </div>
      <div class="col-5 col-offset-1">
        <div  class="mb-2"><label>LastName *</label></div>
        <input type="text" name="lastName" pInputText [(ngModel)]="lastNameValue" class="w-12" required/>
      </div>
      <div class="col">
        <div  class="mb-2"><label>Mobile Number *</label></div>
        <input type="text" name="mobileNumber" pInputText [(ngModel)]="MobileNumberValue" class="w-10" required/>
      </div>
      <div class="col-5 col-offset-1">
      <div  class="mb-2"><label>Date Of Birth *</label></div>
      <p-calendar name="DateOfBirth" [(ngModel)]="dateOfBirthValue"  [maxDate]="maxDate" class="w-14" [required]="true"></p-calendar>
    </div>

    <div class="col">
      <div  class="mb-2"><label>Gender *</label></div>
      <div class="formgroup-inline">
        <div class="field-radiobutton m-0 mt-2">
          <p-radioButton type="radio" name="gender" value="male" [(ngModel)]="genderValue" styleClass="radio-style" required></p-radioButton>
          <label>Male</label>
        </div>
        <div class="field-radiobutton m-0 mt-2">
          <p-radioButton type="radio" name="gender" value="Female" [(ngModel)]="genderValue" styleClass="radio-style" required></p-radioButton>
          <label>Female</label>
        </div>
        <div class="field-radiobutton m-0 mt-2">
          <p-radioButton type="radio" name="gender" value="customgender" [(ngModel)]="genderValue"  styleClass="radio-style" required></p-radioButton>
          <label>Customgender</label>
        </div>
        </div>
      </div>
      <div class="col-12 col-offset-1">
        <div  class="mb-2"><label>UserName *</label></div>
        <input type="text" name="userName" pInputText [(ngModel)]="userNameValue" class="w-10 p-button-success" required/>
      </div>
      <div  class="col-12 col-offset-1">
        <button pButton pRipple label="Submit" class="p-button-success w-10"></button>
      </div>
    </div>
    </form>
</div>
