
<app-header></app-header>
<div class="navEle">
    <h2> <span> <i class="material-icons">people</i> </span> Department List </h2>
  </div>
<div >
    <table  class="tableEle">
        <tr>
            <th>DepartmentId    <span> <i class="pi pi-sort-alt"></i></span></th> 
            <th>DepartmentName <span> <i class="pi pi-sort-alt"></i></span></th>  
            <th>NoOfEmployee  <span> <i class="pi pi-sort-alt"></i></span></th>   
            <th>ManagerId  <span> <i class="pi pi-sort-alt"></i></span></th>      
            <th>CreatedSource  <span> <i class="pi pi-sort-alt"></i></span></th>   
            <th>CreatedSourceType <span> <i class="pi pi-sort-alt"></i></span></th>   
            <th>CreatedDttm <span> <i class="pi pi-sort-alt"></i></span></th>     
            <th>ModifiedSource <span> <i class="pi pi-sort-alt"></i></span></th>    
            <th>ModifiedSourceType <span> <i class="pi pi-sort-alt"></i></span></th>  
            <th>ModifiedDttm <span> <i class="pi pi-sort-alt"></i></span></th>    
        </tr>
        <tr>
            
        </tr>
    </table>

</div>