<div class="bg-cyan-300 gird  h-6rem navBarText">
    <h2 class="attendelistText"> <span> <i class="material-icons">people</i> </span> Attendence List </h2>
</div>
<div class="formtableconatiner w-10 border-noround  border-100 border-solid">
    <form #attendencedsetail="ngForm" (ngSubmit)="attendencedsetail.form.valid && submitAttendenceData()" ngNativeValidate>
        <div class="grid attendecedetailsContainer">
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Employee Id *</label></div>
                <input type="text" pInputText name="employeeId" [(ngModel)]="attendenceDetailObj.employeeId" required
                     disabled />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Date *</label></div>
                <p-calendar name="date" [(ngModel)]="dateValue" view="date" appendTo="body" [maxDate]="maxDate"
                    [required]="true"> </p-calendar>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"> <label>Department Id *</label></div>
                <input type="text" pInputText name="departmentId" [(ngModel)]="attendenceDetailObj.departmentId"
                    required  disabled />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Available *</label></div>
                <div class="formgroup-inline">
                    <div class="field-radiobutton">
                        <p-radioButton name="available" value="True" #a="ngModel" required
                            [(ngModel)]="attendenceDetailObj.available"></p-radioButton>
                        <label>True</label>
                    </div>
                    <div class="field-radiobutton">
                        <p-radioButton name="available" value="False" required
                            [(ngModel)]="attendenceDetailObj.available"></p-radioButton>
                        <label>False</label>
                    </div>
                    <div *ngIf="attendencedsetail.form.invalid && attendencedsetail.form.touched && a.invalid" class="errmessageText">
                        select required filed
                      </div>
                </div>
               
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Check In</label></div>
                <p-calendar [(ngModel)]="attendenceDetailObj.checkIn" name="checkIn" [showTime]="true" [timeOnly]="true"
                    [maxDate]="maxTime" hourFormat="12" [showSeconds]="true"> </p-calendar>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Check out</label></div>
                <p-calendar [(ngModel)]="attendenceDetailObj.checkout" name="checkout" [showTime]="true"
                    [showSeconds]="true" [timeOnly]="true" hourFormat="12" [maxDate]="maxTime"> </p-calendar>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>AttendanceCount *</label></div>
                <input type="text" pInputText name="attendanceCount"  pattern="^[+]?[0-9]+([0-9])*$"
                    [(ngModel)]="attendenceDetailObj.attendanceCount" #count="ngModel" required />
                <div class="errmessageText" *ngIf="count.touched && count.invalid"> enter the valid name</div>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>Shift</label></div>
                <p-dropdown [options]="shift" name="shift"  [(ngModel)]="shiftValue"
                    #shift1="ngModel" optionLabel="name"></p-dropdown>
                <div class="errmessageText" *ngIf="shift1.touched && shift1.invalid"> enter the valid name</div>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>CreatedSource</label></div>
                <input type="text" pInputText name="createdSource" disabled
                    [(ngModel)]="attendenceDetailObj.createdSource" />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>CreatedSourceType</label></div>
                <input type="text" pInputText name="createdSourceType"  disabled
                    [(ngModel)]="attendenceDetailObj.createdSourceType" />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>CreatedDttm</label></div>
                <p-calendar [(ngModel)]="attendenceDetailObj.createdDttm" name="createdDttm" [showSeconds]="true"
                    dateFormat="dd/mm/yy" [showTime]="true" hourFormat="12" [disabled]="true"> </p-calendar>
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>ModifiedSource</label></div>
                <input type="text" pInputText name="modifiedSource"  disabled
                    [(ngModel)]="attendenceDetailObj.modifiedSource" />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>ModifiedSourceType</label></div>
                <input type="text" pInputText name="modifiedSourceType"  disabled
                    [(ngModel)]="attendenceDetailObj.modifiedSourceType" />
            </div>
            <div class="col md:col-4">
                <div class="mb-2 mt-2"><label>ModifiedDttm</label></div>
                <p-calendar [(ngModel)]="attendenceDetailObj.modifiedDttm" name="modifiedDttm" [showSeconds]="true"
                    [showTime]="true" hourFormat="12" dateFormat="dd/mm/yy" [disabled]="true"> </p-calendar>
            </div>
        </div>
        <div class="col buttonEle">
            <button pButton type="submit" label="Save" class="saveEle"></button>
            <button pButton type="button" label="Cancel" class="p-button-secondary cancelbtn"
                (click)=" navigateAttendeceListScreen()"></button>
        </div>
    </form>
</div>