.cancelButtonText {
  margin-left: 20px;
}
.errorMessageText {
  color: red;
}
.navBarText {
  width: 100%;
  position: fixed;
  top: 117px;
}
.attendenceListText {
  margin-left: 90px;
  position: relative;
}
.formTableConatiner {
  position: fixed;
  top: 190px;
  margin-left: 80px;
  background-color: white;
}
.attendeceDetailsContainer {
  position: relative;
  top: 13px;
  margin-left: 30px;
}
:host ::ng-deep .p-dropdown {
  width: 198px;
}
.buttonTextFields {
  float: right;
  margin-right: 100px;
  position: relative;
}
.peopleTextIcon {
  position: relative;
  top: 4px;
}
@media (max-width: 666px) and (min-width: 320px) {
  .formTableConatiner {
    position: fixed;
    overflow-y: scroll;
    height: 370px;
    padding-bottom: 46px;
    top: 240px;
    margin-left: 24px;
  }
  .navBarText {
    top: 156px;
    width: 328px;
  }
  .attendenceListText {
    top: 28px;
    margin-left: 0px;
  }
  :host ::ng-deep .p-calendar {
    width: 194px;
  }
  .buttonTextFields {
    margin-right: 41px;
  }
}

@media (max-width: 768px) and (min-width: 666px) {
  .formTableConatiner {
    position: fixed;
    overflow-y: scroll;
    height: 400px;
    padding-bottom: 46px;
  }
  .attendeceDetailsContainer {
    margin-left: 0px;
  }
  .buttonTextFields {
    margin-right: 8px;
  }
}
@media (max-width: 1024px) and (min-width: 666px) {
  .formTableConatiner {
    position: fixed;
    overflow-y: scroll;
    height: 400px;
  }
}
