.cancelbtn {
  margin-left: 20px;
}
.errmessageText {
  color: red;
}
.navBarText {
  width: 100%;
  position: fixed;
  top: 117px;
}
.attendelistText {
  margin-left: 90px;
  position: relative;
}
.formtableconatiner {
  position: fixed;
  top: 190px;
  margin-left: 80px;
}
.attendecedetailsContainer {
  position: relative;
  top: 13px;
  margin-left: 30px;
}
:host ::ng-deep .p-dropdown {
  width: 198px;
}
.buttonEle {
  float: right;

  margin-right: 100px;
  position: relative;
}
@media (max-width: 666px) and (min-width: 320px) {
  .formtableconatiner {
    position: fixed;
    overflow-y: scroll;
    height: 370px;
    padding-bottom: 46px;
    top: 240px;
    margin-left: 24px;
  }
  .navBarText {
    top: 156px;
    width: 328px;
  }
  .attendelistText {
    top: 28px;
    margin-left: 0px;
  }
  :host ::ng-deep .p-calendar {
    width: 194px;
  }
  .buttonEle {
    margin-right: 41px;
  }
}

@media (max-width: 768px) and (min-width: 666px) {
  .formtableconatiner {
    position: fixed;
    overflow-y: scroll;
    height: 400px;
    padding-bottom: 46px;
  }
  .attendecedetailsContainer {
    margin-left: 0px;
  }
  .buttonEle {
    margin-right: 8px;
  }
}
@media (max-width: 1024px) and (min-width: 666px) {
  .formtableconatiner {
    position: fixed;
    overflow-y: scroll;
    height: 400px;
  }
}
