
<app-header></app-header>
<div class="navEle">
    <h2> <span> <i class="material-icons">people</i> </span> Attendence List </h2>
  </div>
<div>
<div class="attendecelistcontainer">
    <div class="attndenceheaderEle">
        <h3>Attendece list:</h3>
    </div>
    <hr>
<form #attendencedetails="ngForm" (ngSubmit)="onsubmit()" ngNativeValidate>
        <div class="attencontainerlist">
            
            <div>
                <div><label> employeeId:</label></div>
                <input type="text" pInputText name="employeeId" [(ngModel)]="employeeId" readonly/>
            </div>
            <div>
                <div><label> Month:</label></div>
                <p-calendar  name="month" [(ngModel)]="month" view="month" dateFormat="mm.yy"  [showIcon]="true" #month1="ngModel" [required]="true" > </p-calendar>
                <div class="errmessageEle" *ngIf="month1.touched && month1.invalid" > enter the valid name</div>
            </div>
            <div>
                <div><label>Date:</label></div>
                <p-calendar  name="date" [(ngModel)]="date" view="date" dateFormat="dd"  [showIcon]="true"  [required]="true"> </p-calendar>
            </div>
            <div>
                <div><label>DepartmentId:</label></div>
                <input type="text" pInputText name="departmentId" [(ngModel)]="departmentId" readonly/>
            </div>
            <div> 
                <div><label>Available:</label></div>
             
                <p-radioButton name="available" value="true" [(ngModel)]="available"></p-radioButton>
                <label>yes</label>
                <p-radioButton name="available" value="false" [(ngModel)]="available1"></p-radioButton>
                <label>no</label>
               
            </div>
            <div>
                <div><label>CheckIn:</label></div>
                <input type="text" pInputText name="checkIn" [(ngModel)]="checkIn"/>
            </div>
            <div>
                <div><label>Checkout:</label></div>
                <input type="text" pInputText name="checkout" [(ngModel)]="checkout"/>
            </div>
            <div>
                <div><label>AttendanceCount:</label></div>
                <input type="text" pInputText name="attendanceCount" [(ngModel)]="attendanceCount" #count="ngModel" required/>
                <div class="errmessageEle" *ngIf="count.touched && count.invalid" > enter the valid name</div>
            </div>
            <div>
                <div><label>Shift:</label></div>
                <input type="text" pInputText name="shift" [(ngModel)]="shift" required #shift1="ngModel"/>
                <div class="errmessageEle" *ngIf="shift1.touched && shift1.invalid" > enter the valid name</div>
            </div>
            <div>
                <div><label>CreatedSource:</label></div>
                <input type="text" pInputText name="createdSource" [(ngModel)]="createdSource" />
            </div>
            <div>
                <div><label>CreatedSourceType:</label></div>
                <input type="text" pInputText name="createdSourceType" [(ngModel)]="createdSourceType"/>
            </div>
            <div>
                <div><label>CreatedDttm:</label></div>
                <p-calendar name="createdDttm"[(ngModel)]=createdDttm   dateFormat="dd.mm.yy"  [showIcon]="true"  > </p-calendar>
               
            </div>
            <div>
                <div><label>ModifiedSource:</label></div>
                <input type="text" pInputText name="modifiedSource" [(ngModel)]="modifiedSource" />
               
            </div>
            <div>
                <div><label>ModifiedSourceType:</label></div>
                <input type="text" pInputText name="modifiedSourceType" [(ngModel)]="modifiedSourceType" />
            </div>
            <div>
                <div><label>ModifiedDttm:</label></div>
                <p-calendar  name="modifiedDttm" [(ngModel)]="modifiedDttm"   dateFormat="dd.mm.yy"  [showIcon]="true"  > </p-calendar>
               
            </div>
            <div>
                <button pButton type="submit" label="save"></button>
                <button pButton type="button" label="cancel"  class="p-button-secondary cancelbtn" (click)="gobackatten()" ></button>
            </div>
    </div>
    <div>    
    </div>
</form>
</div>
<app-footer></app-footer>