<div class="loginPageBackGroundColor">
  <div class="bg-white top-0 relative h-4rem ">
    <div class="signInButtonText">
      <p-button label="Sign in" styleClass="p-button-rounded p-button-warning" (click)="openRegisterForm()"></p-button>
    </div>
  </div>
  <p-toast></p-toast>
 <div class="grid">
    <h2 class="ucbosText m-auto text-pink-600">UCBOS</h2>
  </div>
  <div class="border-1 relative mx-auto loginPageContainer border-round-xl">
      <h2 class="loginPageHeadingName">Login Page</h2>
    <form #loginPageDetails="ngForm" (ngSubmit)="loginPageSubmitFormDetails(loginPageDetails)" ngNativeValidate>
      <div class="loginPageFormData">
        <div class="col col-offset-2">
          <div class="mb-2"> <label> Mobile Number</label></div>
           <div><input type="text" pInputText [(ngModel)]="mobileNumberValue" maxlength="14"  name="mobileNumber" pattern="^[+]{1}[0-9]{0,2} .?[0-9]+$" class="w-10"  placeholder="+91 1234567890" required/></div>
         </div>
       <div class="col col-offset-2">
         <button pButton pRipple type="submit" label="Submit" class="p-button-success w-10"></button>
       </div>
      </div>
    </form>
  </div>
</div>
