<div>
  <div class="nav-container">
  
    <li [routerLinkActive]="'class1'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" class="list-container">HOME</a></li>
  <li [routerLinkActive]="'class1'"  ><a routerLink="/About" class="list-container">About</a></li>
  <li [routerLinkActive]="'class1'"  ><a routerLink="/PAGE" class="list-container">PAGE</a></li>
  <li [routerLinkActive]="'class1'" ><a routerLink="/Contact"  class="list-container">contact</a></li>
  <li [routerLinkActive]="'class1'" > <a routerLink="/coures" class="list-container">Courses</a></li>
  <!-- <li [routerLinkActive]="'class1'" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="." fragment="/Contact" class="list-container"  >contact</a></li> -->
  </div>
         <button (click)="login1()">login</button>
         <button (click)="logout()">logout</button>

  <div>
    <!-- <app-home></app-home>
    <app-courses></app-courses>
    <app-contact></app-contact>
    <app-about></app-about> -->

   <router-outlet></router-outlet>
  </div>
  <div class="spiner" *ngIf=" displaysipeer"></div>
</div>
<!-- <ng-container>
 Hello
</ng-container> -->
<!-- <div *ngIf="login; else:temp">yes!</div> -->

<!-- <ng-template #temp>
 Invalid data(ng-template give the variable reference .)
</ng-template> -->

<!-- <app-content>
  <p >ng content </p>
  <p>ng content end</p>
</app-content>
<app-content>
  <p >ng content </p>
  <p>ng content end</p>
</app-content>
 -->

