
.formContainer{
    position: relative;
    top:140px;
    margin-left: 40px;
}
.backEle{
    top:20px;
}
.navEle{
top: 97px;
}
.headerEle{
width: 1600px;
}
.departmentlist{
    position: relative;
    top: 35px;
    margin-left: 57px;
}
@media (max-width:666px) and (min-width:320px){
.formContainer{
    top: 157px;
    padding-bottom: 74px;
}
.navEle{
    top: 156px;
    width: 328px;
   }
}
    @media (max-width:768px) and (min-width:666px){
    
    .formContainer{
    position: relative;
    margin-right: -227px;
}
.navEle{
    width:1000px;
   }


}
