
<app-header></app-header>
<div class="navEle">
    <h2> <span> <i class="material-icons">people</i> </span> Department List </h2>
  </div>
<div>
    <table  class="tableEle">
        <tr>
            <th>DepartmentId</th>
            <th>DepartmentName</th>
            <th>NoOfEmployee</th>
            <th>ManagerId</th>
            <th>CreatedSource</th>
            <th>CreatedSourceType</th>
            <th>CreatedDttm</th>
            <th>ModifiedSource</th>
            <th>ModifiedSourceType</th>
            <th>ModifiedDttm</th>
        </tr>
        <tr>
            
        </tr>
    </table>
</div>
