/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.css';

@import '../node_modules/primeng/resources/themes/nova/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css';

@import "~primeflex/primeflex.css";

body, html {
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
  }
 
