


.fa {
    font: normal normal normal 31px/1 FontAwesome !important;
  }
 .homeEleContainer{
  position: relative;
  top:77px;
 }

 .homeContainer {
  border: 2px solid;
 height: 500px;
 position: relative;
 top:-40px;
 left:100px
 }
 .dashboardEle{
  margin-left: 95px;
    position: relative;
    top: 11px;
 }

  @media (max-width:666px) and (min-width:320px){
.navEle{
    margin: 0px;
    width: 1280px;
}
  }