 
<!-- <div class="homeEleContainer">
    <div class=" bg-cyan-300 h-6rem fixed " >
        <div class="  text-4xl"> 
             <h5 class="dashboardEle"> <span> <i class="fa fa-dashboard "> </i> </span> Dash board:</h5>
        </div>
    </div> 
   
</div> -->

<div class=" bg-cyan-300 h-6rem navbarEle" >
    <div class="  text-4xl"> 
         <h5 class="dashboardEle"> <span> <i class="fa fa-dashboard "> </i> </span> Dash board:</h5>
    </div>
    <div class="homeContainer  border-blue-100">

    </div>