


.fa {
    font: normal normal normal 31px/1 FontAwesome !important;
  }
 
  .navEle{
    position: relative;
   top: -44px;
    
  }
  .dashboardEle {
    position: relative;
    left: 107px;
    top:10px;
  }
.homeContainer{
  top: -70px;
 
  border: 2px solid black;
  height: 530px;
  left: 120px;
  position: relative;
}

  @media (max-width:666px) and (min-width:320px){
.navEle{
    margin: 0px;
    width: 1280px;
}
  }