
<div class="bg-blue-300 h-4rem headeriner grid">
    <div class="flex justify-content-start flex-wrap card-container   ">
    
        <div class="flex align-items-center  justify-content-center m-2 text-white">
            <a  routerLink="/HOME"  class="anchorEle">HOME</a>
        </div>
        <div class=" flex align-items-center justify-content-center m-2 text-white">
            <a routerLink="/EMP"class="anchorEle"  >EMPLOYEE</a>
            </div>
            <div class="flex align-items-center justify-content-center m-2 text-white" *ngIf="employeeuserhide">
                <a routerLink="/DEPT" class="anchorEle"  >DEPARTMENT</a>
            </div>

            <div class=" flex align-items-center justify-content-center  text-white m-2 ">
                <a routerLink="/ATDE"     class="anchorEle"  >ATTENDENCE</a>
            </div>

            <div class=" flex justify-content-center align-items-center relative right-10  text-white m-2">
                <a class="anchorEle" routerLink="/Login" (click)="islogout()" > LOGOUT</a>
                </div>
    </div>
</div>

