
.anchorEle{
    text-decoration: none;
    position: relative;
    color: white;
}

.headeriner{
    width: 100%;
    position: fixed;
    top: 66px;
   
}
.imageEle{
    width: 200px;
}
.headerimage{
    position: fixed;
      top: 0;
  width: 100%
}