<div class="homescreenContainer">
<div class="homeScreenHeading">
    <img src="./assets/itorizonlogo.png" alt="Image" class="itorizonImage">
    <i (click)="showDialog('top-right')"id="profileImage">CV</i>
   <p-dialog header="Username"  [(visible)]="visible" [position]="position" [draggable]="false" [resizable]="false" [style]="{'right': '40px','top': '48px'}" >
    <div (click)="logoutForm()" class="logoutText"> Logout</div>
   </p-dialog>
</div>
<div class="homeScreenMainContainer">
<div class=" border-solid border-2 mx-auto">
    <div class="grid">
        <div class="col-3">
   
        </div>
        <div class="col-6">
            <div class="card">
                    <div><i class="pi pi-user postStoryUserText" ></i></div>
                    
             </div>   
        </div>
        <div class="col-3">
      
        </div>
</div>

</div>
</div>
</div>