.homescreenContainer{
  position: relative;
  z-index: 1;
}
.homeScreenHeading{
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.itorizonImage{
  position: relative;
  width: 191px;
  height: 68px;
  padding: 12px;
  float: left;
  left: 32px;
}
#profileImage {
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  background: #15a9e2;
  text-align: center;
  margin: 20px 0;
  float: right;
  position: relative;
  right: 30px;
}
.homeScreenMainContainer{
  padding-top: 87px;
  padding-bottom: 50px;
}
.postStoryUserText{
  background: #2ddb0e;
  padding: 8px;
  font-size: 14px;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}