/* .navEle{
    position: relative;
    top:-20px;
    background-color:#89cfe8;
    color:white;
    height: 100px;
    margin: 10px;
}
.formContainer{
    display: grid;
   grid-template-rows:auto;
   grid-template-columns: 30% 30% 30%;
   grid-gap: 10px;
   position: relative;
    left:100px;
}
/
/* .empformEle{
    position: relative;
    left: 130px;
    top: 32px;
    
} */
.formcontainer{
    left:30px;
    margin-top: 30px;
    margin-bottom: 45px;
    
}

.savebtnEle{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
 } 
