
<app-header></app-header>
<div class="navEle">
  <h2> <span> <i class="material-icons">people</i> </span> Update EMPLIST:</h2>
</div>

   
     <form  #EmployeeForm="ngForm" (ngSubmit)="onSubmit(EmployeeForm)" ngNativeValidate>

      <div class="formContainer">
         <div class="employeeidEle " >
          <div><label> employeeId </label></div>
           <input type="text" pInputText name="employeeId" [(ngModel)]="employeeId" readonly [disabled]="!editmode" />
        
          </div>
    
          <div class="fristnameEle">
           <div><label> firstName</label></div>
           <input type="text" pInputText name="firstName" [(ngModel)]="firstName" required pattern="^[a-zA-Z]+$" [disabled]="!editmode" />
          
          </div>
    
          <div class="lastnameEle">
           <div><label> lastName</label></div>
           <input type="text" pInputText name="lastName" [(ngModel)]="lastName"  required  pattern="^[a-zA-Z]+$" [disabled]="!editmode"/>
         
          </div>
          
             <div class="genderEle" >
    
              <div><label> Gender:</label></div>
                <p-radioButton name="gender" value="male"  [(ngModel)]="Gender" [disabled]="!editmode" ></p-radioButton>
                <label>male</label>
                <p-radioButton name="gender" value="Female" [(ngModel)]="Gender" [disabled]="!editmode" ></p-radioButton>
                <label>female</label>
                <p-radioButton name="gender" value="customgender" [(ngModel)]="Gender" [disabled]="!editmode"></p-radioButton>
                <label>custmgender</label>
    
             </div>
       
             <div class="dobEle">
              <div> <label> Date of birth:</label></div>
               <p-calendar [(ngModel)]="dob" name="dob"  dateFormat="dd.mm.yy"  [showIcon]="true" [disabled]="!editmode" > </p-calendar>
             
             </div>
    
            
    
             <div class="mobilenoEle">
    
              <div> <label> Mobile no:</label></div>
              <p-inputNumber [(ngModel)]="PhoneNumber" name="phoneNumber" mode="decimal" [disabled]="!editmode" ></p-inputNumber>
              
             </div>
    
             
             
             <div class="dateOfJoiningEle">
              <div> <label> DateOfJoining:</label></div>
              <p-calendar [(ngModel)]="dateOfJoining" name="dateOfJoining"  dateFormat="dd.mm.yy"  [required]="true" [disabled]="!editmode"> </p-calendar>
           
             </div>
    
             <div class="salaryEle">
              <div> <label> salary:</label></div>
           <input type="text" pInputText [(ngModel)]="Salary" name="salary" required pattern="^[0-9]*$" [disabled]="!editmode"/>
        
             </div>
             
             <div class="shiftEle">
              <div> <label> shift:</label></div>
           <input type="text" pInputText  [(ngModel)]="shift" name="shift" #shift1="ngModel" required [disabled]="!editmode"/>
             </div>
             
             <div class="createdSourceEle">
             <div>  <label> createdSource:</label></div>
           <input type="text" pInputText  [(ngModel)]="createdSource" name="createdSource" [disabled]="!editmode"/>
             </div>
       
             <div class="createdSourceTypeEle">
              <div> <label> createdSourceType:</label></div>
           <input type="text" pInputText [(ngModel)]="createdSourceType" name="createdSourceType" [disabled]="!editmode"/>
             </div>
            
             <div class="createdDttmEle">
               <div><label>  createdDttm:</label></div>
               <p-calendar  [(ngModel)]="createdDttm1" name="createdDttm"  dateFormat="dd.mm.yy" [disabled]="!editmode" [required]="true"> </p-calendar>
          
             </div>
    
             <div class="modifiedSourceEle">
               <div><label>  modifiedSource:</label></div>
           <input type="text" pInputText [(ngModel)]="modifiedSource" name="modifiedSource" [disabled]="!editmode"/>
             </div>
             
             <div class="modifiedSourceTypeEle">
              <div> <label> modifiedSourceType:</label></div>
           <input type="text" pInputText [(ngModel)]="modifiedSourceType" name="modifiedSourceType" [disabled]="!editmode"/>
             </div>
    
             <div class="modifiedDttmEle">
              <div> <label>  modifiedDttm:</label></div>
           <input type="text" pInputText  [(ngModel)]="modifiedDttm" name="modifiedDttm" [disabled]="!editmode"/>
             </div>
               
                 <div class="buttonEle" >
                  <button pButton type="submit" label="save" [disabled]="!editmode"></button>
                  <button pButton type="button" label="EDIT" (click)="editbtnviewmode()" class="savebtnEle"></button>
                  <button pButton type="button" label="BACK"  class="p-button-secondary " (click)="backtoemplistbtn()"></button>                    
               </div>
        
       </div> 
      </form>
  
 



<!-- <app-footer></app-footer> -->