
<div class="grid bg-cyan-100 navEle ">
  <div class="col  text-left text-1xl">
    <h2> <span> <i class="material-icons">people</i> </span> Update EmpList</h2>
  </div>
</div>


<div class="card  relative formcontainer"> 
  <form  #EmployeeForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="formgrid grid formtablecontainer">
                           <div  class="col-12 md:col-3  ">
                            <div><label> Employee Id </label></div>
                            <input type="text" pInputText name="employeeId" [(ngModel)]="empdetailObj.employeeId"  [disabled]="true" />
                            </div>

                            <div  class=" field col-12 md:col-3  ">
                              <div><label> First Name</label></div>
                                <input type="text" pInputText name="firstName" [(ngModel)]="empdetailObj.firstName" required pattern="^[a-zA-Z]+$" [disabled]="!editmode" />
                            </div>

                            <div class="field col-12  md:col-6"> 
                              <div><label> Last Name</label></div>
                             <input type="text" pInputText name="lastName" [(ngModel)]="empdetailObj.lastName"  required  pattern="^[a-zA-Z]+$" [disabled]="!editmode"/>
                            </div>

                          
                            <div  class="field col-12 md:col-3"> 
                             <div><label >Gender</label></div>
                            <div class="formgroup-inline">
                              <div class="field-radiobutton">
                                <p-radioButton name="gender" value="male"  [(ngModel)]="empdetailObj.gender" [disabled]="!editmode" ></p-radioButton>
                                <label>Male</label>
                                </div>

                                <div class="field-radiobutton">
                                  <p-radioButton name="gender" value="Female" [(ngModel)]="empdetailObj.gender" [disabled]="!editmode" ></p-radioButton>
                                  <label>Female</label>
                                </div>

                                <div class="field-radiobutton">
                                  <p-radioButton name="gender" value="customgender" [(ngModel)]="empdetailObj.gender" [disabled]="!editmode"></p-radioButton>
                                  <label>Custmgender</label>
                                </div>
                            
                         </div>
                            </div>
                            <div class="field col-12 md:col-3 ">
                              <div> <label> Date of Birth</label></div>
                              <p-calendar [(ngModel)]="empdetailObj.dob" name="dob"  dateFormat="dd/mm/yy" [required]="true"   [disabled]="!editmode"> </p-calendar>
                            </div>

                              <div class=" field col-12 md:col-6 ">
                                <div> <label> Mobile No</label></div>
                               <p-inputNumber [(ngModel)]="empdetailObj.phoneNumber" name="phoneNumber" mode="decimal" [disabled]="!editmode" ></p-inputNumber>
                              </div>
                              <div class="field col-12 md:col-3">
                                <div> <label> Date Of Joining</label></div>
                                <p-calendar [(ngModel)]="empdetailObj.dateOfJoining" name="dateOfJoining"  dateFormat="dd/mm/yy"  [required]="true" [disabled]="!editmode"> </p-calendar>
                              </div>

                              <div class="field col-12 md:col-3">
                                <div> <label> Salary</label></div>
                                <input type="text" pInputText [(ngModel)]="empdetailObj.salary" name="salary" required pattern="^[0-9]*$" [disabled]="!editmode"/>
                              </div>
                              <div  class="field col-12 md:col-6">
                                <div> <label> Shift</label></div>
                                <input type="text" pInputText  [(ngModel)]="empdetailObj.shift" name="shift" #shift1="ngModel" required [disabled]="!editmode"/>
                              </div>
                              <div  class="field col-12 md:col-3">
                                <div>  <label> CreatedSource:</label></div>
                                <input type="text" pInputText  [(ngModel)]="empdetailObj.createdSource" readonly  name="createdSource" [disabled]="!editmode"/>
                              </div>
                              <div  class="field col-12 md:col-3">
                                <div> <label> CreatedSourceType:</label></div>
                                <input type="text" pInputText [(ngModel)]="empdetailObj.createdSourceType"  readonly name="createdSourceType" [disabled]="!editmode"/>
                              </div>
                              <div class="field col-12 md:col-6"> 
                                <div><label>  CreatedDttm:</label></div>
                                <p-calendar  [(ngModel)]="empdetailObj.createdDttm" name="createdDttm"   dateFormat="dd/mm/yy" [disabled]="true"  [required]="true"> </p-calendar>
                              </div>
                              <div class="field col-12 md:col-3"> 
                                <div><label>  ModifiedSource:</label></div>
                                <input type="text" pInputText [(ngModel)]="empdetailObj.modifiedSource"  readonly name="modifiedSource" [disabled]="!editmode"/>
                              
                              </div>
                              <div class="field col-12 md:col-3"> 
                                <div> <label> ModifiedSourceType:</label></div>
                    <input type="text" pInputText [(ngModel)]="empdetailObj.modifiedSourceType"  readonly name="modifiedSourceType" [disabled]="!editmode"/>
                              </div>
                              <div  class="field col-12 md:col-6">
                                <div> <label>  ModifiedDttm:</label></div>
                                <p-calendar [(ngModel)]="empdetailObj.modifiedDttm" name="modifiedDttm"    dateFormat="dd/mm/yy" [disabled]="true"> </p-calendar>
                              </div>

                                <div class="field col-12 md:col-6 m-0">
                                  <div *ngIf="disabledsubmitcancelbtn" >
                                    <button pButton type="submit" label="Save"></button>
                                    <button pButton type="button" label="Cancel"  class="savebtnEle" (click)="cancelbtn()"></button>
                                   </div>
                                    <div *ngIf="disablededitbackbtn">
                                      <button pButton type="button" label="Edit"  class="savebtnEle" (click)="editbtnviewmode()" *ngIf="editbtndisable"></button>
                                    <button pButton type="button" label="Back"  class="p-button-secondary "  (click)="backtoemplistbtn()"  ></button>
                                    </div>  
                               
                                </div>
                             
                            </div>
                         
                          </form>  

</div>



