.navEle{
    position: relative;
    top:-20px;
    background-color:#89cfe8;
    color:white;
    height: 100px;
    margin: 10px;
}
.backgroundcolor{
    z-index: -1;
    position: relative;
    background-color:white;
    opacity: 0.3;
}

.EmpList{
    position: relative;
    top:-70px;
    background-color: white;
    border: px solid grey;
   box-shadow: 0 0 5px grey;
   width:1400px;
   left:30px;
}
.EmpListAddContainer{
   position: relative;
   height:70px;
   
}
  .EmpListAddEle{
    position: relative;
    top: 21px;
    width: 130px;
    height: 36px;
    left: 1210px;

}
.EmpListAddPlusEle{
    position: relative;
    left: 18px;
}


    .dialogempidform{
        border: 2px solid black;
        width: 300px;
        text-align: center;
        padding: 30px;
        box-shadow: 0px 0px 5px rgb(90, 62, 62);
        position: relative;
        left: 600px;  
        top:-300px;
      
    }
    .btnformEle{
        padding: 10px;
    }
    
    .cancelEle{
        margin-left: 50px;
    }